@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700&family=Nanum+Gothic:wght@400;700;800&family=Parisienne&family=Poppins:wght@300;400;500;600;700;800&family=Qwigley&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, Jost, Qwigley, Parisienn, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: hsl(169deg 84% 36%);
}
